@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body, html {
    background-color: #ccccff;
    color: #1e1e1e;
    font-family: 'Comfortaa';
    height: 100%;
    margin: 0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(37, 75, 43, 0.8);
    width: 100%;
    z-index: 999;
}

nav ul {
	margin-left: 30px;
    list-style: none;
    padding: 0;
}



.nav-button {
    display: block;
    height: 35px;
    width: 100%;
    text-align: center;
    line-height: 35px;
    text-decoration:none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    color: white;
}



.nav-button2 {
    display: none;
    height: auto;
    line-height: 35px;
    position: absolute;
    width: 140px;
    top: 36px;
}

li:hover > ul.nav-button2 {
    display: block;
    text-decoration:none;
    color: white;
    background-color: rgba(37, 75, 43, 0.8);
}
ul.nav-button2 > a {
    text-decoration: none;
}



div#f-prt {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

div.f-header{
    display: block;
    margin-top: 6%;
    text-align: right;
    font-size: 28px;
    position: absolute;
    height: auto;
    width: 100%;
}

div.f-prt {
    margin-top: 6%;
    display: block;
    margin-left: 5px;
    padding-left: 25px;
    font-weight: bolder;
    position: absolute;
    top: 24%;
    height: auto;
    width: 30%;
    min-width: 350px;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    nav {
        height: 50px;
    }

    nav ul li {
        float: left;
    }

    .nav-button {
        height: 100%;
        width: 150px;
        line-height: 100%;
    }

    div.f-header{
        display: block;
        margin-top: 6%;
        text-align: right;
        font-size: 28px;
        position: absolute;
        height: auto;
        width: 100%;
    }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
